
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.App{
    background-color: black;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.intro{
    color: white;
    text-align: center;
    font-size: 1.3rem;
}
.content{
    width: 32.5rem;
  height: 32.5rem;
  background-color: #fff;
  margin: auto;
  margin-top: 3rem;
  overflow: auto;
}
.addTask{
    background-color: transparent;
  outline: none;
  width: 32.5rem;
  height: 3rem;
  font-size: 20px;
  text-align: center;
  display: flex;
  padding-top: 1rem;
}
.addText{
    width: 25rem;
    height: 2rem;
    font-size: 20px;
    margin-left: 0.5rem;
}
.add{
    width: 4.5rem;
    height: 2.35rem;
    margin-left: 1rem;
}
.item{
    display: flex;
    margin-right: 10rem;
    margin-top: 0.5rem;
    background-color: transparent;
    height: 3rem;
    width: 100%;
    text-align: center;
    justify-content: space-between;
}
.complete,
.edit,
.delete{
  border: none;
  outline: none;
  font-size: 20px;
  width: 2rem;
  height: 2rem;
  margin-top: 0.35rem;
  margin-left: 0.35rem;
}
.complete{
    margin: 0.5rem;
}
.botoesDireita{
    margin-right: 0.5rem;
}